---
layout: home
permalink: /

header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /img/masques-musee-africart-kara-togo-splash-1600x900.jpg
  actions:
    - label: "Visitez notre musée !"
      url: "/musee/"
excerpt: "Faites un voyage dans une collection exceptionnelle."

feature_row2:
  - image_path: /img/musee/africart-kara-musee-masques-01-600x411.jpg
    alt: "Notre Association"
    title: "Notre association"
    excerpt: 'Nous sommes une association de promotion du tourisme dans la région de Kara au Togo.'
    url: "/association/"
    btn_label: "En savoir plus sur notre association"
    btn_class: "btn--primary"

feature_row3:
  - image_path: /img/services/musee-africart-togo-hebergement-kara-600x337.jpg
    alt: "Nos services"
    title: "Nos services"
    excerpt: "Nous vous proposons un service de réservation d'hébergements, de véhicules ou de visites, lors de votre visite dans la région de Kara"
    url: "#test-link"
    btn_label: "En savoir plus"
    btn_class: "btn--primary"

---

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

