---
---
<!doctype html>
<html lang="{{ site.locale }}">
<head>
  <title>{{ site.title }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    {% for p in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }} - {{ p.path }}</a>
    </li>
    {% endfor %}
  </ul>
  <hr>
  <div>
    {{ content }}
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
